<% if @article.errors.any? %>
<h4>These errors prevented article from getting saved!</h4>
<ul>
  <% @article.errors.full_messages.each do |err_message| %>
  <li><%= err_message %></li>
  <% end %>
</ul>
<% end %>

<div class="row">
  <div class="col-md-8 col offset-2">
    <%= form_with model: @article, local: true do |f| %>
    <div class="form-group">
      <%= f.label :title %><br />
      <%= f.text_field :title, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :description %><br />
      <%= f.text_area :description, size: "60x12", class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.submit class: 'btn btn-info'  %>
      <%= link_to "Cancel", articles_path, class: 'btn btn-danger'  %>
    </div>

    <% end %>

  </div>
</div>
