<%= render 'shared/errors', obj: @article %>

<div class="row mt-3">
  <div class="col-md-8 col offset-2">
    <%= form_with model: @article, local: true do |f| %>
    <div class="form-group">
      <%= f.text_field :title, class: 'form-control', placeholder: "Article Title" %>
    </div>
    <div class="form-group">
      <%= f.text_area :description, size: "60x12", class: 'form-control', placeholder: "Description" %>
    </div>

    <div class="form-group">
      <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |b| %>
      <% b.label(class: "checkbox mr-4 p-2") { b.check_box(class: "checkbox") + " " + b.text } %>
      <% end %>
    </div>


    <div class="form-group ">
      <%= f.submit class: 'btn btn-info'  %>
      <%= link_to "Cancel", articles_path, class: 'btn btn-danger'  %>
    </div>

    <% end %>

  </div>
</div>
