<div class="row">
  <div class="col col-md-8 offset-2">
    <div class="card" style="background-color: #eee;">
      <% if @article.user %>
      <div class="text-center mt-3 mb-3">
        <%= image_tag @article.user.gravatar_url, :class => "gravatar"   %>
      </div>
      <div class="text-center">
        <h5 class="card-title"><%= link_to @article.user.username, user_path(@article.user) %></h5>
        <p class="card-text">
          <%= pluralize_count(@article.user.articles.count) %>
        </p>
      </div>
      <hr>
      <% end %>
      <div class="card-body">
        <h2 class="mb-3"><%= @article.title %></h2>
        <%= simple_format(@article.description) %>
        <% if @article.categories.any? %>
        <p>Categories: <%= render @article.categories %></p>
        <% end %>
      </div>

      <div class="article-actions m-3 pt-1">
        <% if logged_in? && (current_user == @article.user || current_user.admin?) %>
        <%= link_to "Edit this article", edit_article_path(@article), class: "btn-sm btn-primary" %>
        <%= link_to "Delete this article", article_path(@article), method: :delete, data: { confirm: "are you sure?" }, class: "btn-danger btn-sm" %>
        <% end %>
        <%= link_to "View all articles", articles_path, class: "btn-sm btn-success" %>
      </div>
    </div>
  </div>
</div>
