<div class="row">
  <div class="col col-md-8 offset-2">
    <div class="card" style="background-color: #eee;">
      <div class="card-header text-center">
        <h3><%= @article.title %></h3>
      </div>
      <div class="card-body">
        <%= simple_format(@article.description) %>
      </div>
      <div class="article-actions m-3 pt-1">
        <%= link_to "Edit this article", edit_article_path(@article), class: "btn-sm btn-primary" %>
        <%= link_to "Delete this article", article_path(@article), method: :delete, data: { confirm: "are you sure?" }, class: "btn-danger btn-sm" %>
        <%= link_to "View all articles", articles_path, class: "btn-sm btn-success" %>
      </div>
    </div>
  </div>
</div>
