<h3 class="text-center">All Tech Bloggers</h3>

<div class="center mt-4 mb-3">
  <%= will_paginate @users %>
</div>

<% @users.each do |user| %>
<div class="row mb-2 text-center">
  <div class="col-md-6 col offset-3">
    <div class="card" style="background-color: #eee;">
      <div class="card-body">
        <div class="text-center mt-3 mb-3">
          <%= image_tag user.gravatar_url, :class => "gravatar"  %>
        </div>
        <h5 class="card-title"><%= link_to user.username, user_path(user) %></h5>
        <p class="card-text">
          <%= pluralize_count(user.articles.count) %>
        </p>
        <% if logged_in? and current_user.admin? %>
        <p>
          <%= link_to "Delete User", user_path(user), method: :delete, data: { confirm: "Data related to user will be deleted too." }, class: 'btn btn-danger btn-sm' %>
        </p>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>
<div class="center mt-4 mb-3">
  <%= will_paginate @users %>
</div>
