<h3 class="text-center">All Categories Listing</h3>

<div class="center mt-4 mb-3">
  <%= will_paginate @categories %>
</div>

<% @categories.each do |category| %>
<div class="row mb-2 text-center">
  <div class="col-md-6 col offset-3">
    <div class="card" style="background-color: #eee;">
      <div class="card-body">

        <h3 class="card-title"><%= link_to category.name, category_path(category) %></h5>
          <h5><%= pluralize_count(category.articles.count) %></h5>
          <% if logged_in? and current_user.admin? %>
          <p>
            <%= link_to "Delete Category", category_path(category), method: :delete, data: { confirm: "Data related to category will be deleted too." }, class: 'btn btn-danger btn-sm' %>
          </p>
          <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>
<div class="center mt-4 mb-3">
  <%= will_paginate @categories %>
</div>
